header {
  background: lightgrey;
  text-align: center;
}

hr {
  border: 1px solid #DAA520;
}

#foto-profilo {
  height: 200px;
  width: 200px;
}

h2 {
  color: #DAA520;
}

h3 {
  font-style: italic;
}
